
body{
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins; 
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
    margin: 0;

}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;


}
.nav-item ul li {
  
    list-style: none;
    color: #3E3E3E;
    font-size: 16px;
    font-weight: 500px;
}
.nav-item ul{
    display: flex;
    gap:20px;
  
   
}
.nav-title{
    color:#3E3E3E;
    font-size: 22px;

}
/* Banner section */
.carousel-inner h5{
     color: #fff;
    align-items: center;
     font-size: 48px;
     font-weight: 600px;
     padding-top: 20px;
     width: 600PX;
    
     margin: auto;
     

}
.carousel-inner p{
     width: 456px;
     color:#fff;
     font-size: 16px;
     font-weight: 300px;
     margin: auto;
     height: 48px; 
     
}
.carousel-inner .btn-primary{
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    width: 168px;
    color: #3F87F5;
    font-size: 16px;
    font-weight: 700;
    margin: 20px;

   
}
/* Album section */

.album-details{
    display: flex;
    padding-top: 60px;
    align-items: center;
    gap:50px;


}
.album-details img{
    width: 100%;
}
.album-detail .title{
    color: #0A0826;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    
}

.title-description{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    width: 501px;
    height: 88px;
}
.album-detail{ 
    position: relative;

}
.album-detail  .btn-primary{
    padding: 10px 20px;
    border: 0;
    border-radius: 0px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
.discount{
    display: flex;
    align-items: center;
    width: 263px;
    height: 42px;
    border-radius: 1px;
    background: #FFF;
    box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.15);
    right:100px;
    position: relative;


}
.discount hr{
    width: 8px;
    height: 42px;
    border-radius: 1px;
    background: blue;
    
}
.offer{
    color: #505050;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 171.429% */
 padding-top: 15px;
 padding-left: 5px;

}
.discount .fa-xmark{
  margin-right: 10px;
    
}
.discount .fa-gift{
     color: #007CFFA1;
    
}